/* colors*/

// Primary colors
$primary-color: #ef4a41;
$secondary-color: #fdd243;
$white-color: #ffffff;
$dark: #211f20;
$linear-reddark: linear-gradient( 136deg, rgba($dark, 0.8) 10%, rgba($primary-color, 0.9) 100%);
$leaner-dark:linear-gradient( 135deg, rgba($dark, 0.9) 0%, rgba($white-color, 0.8) 100%);
// box-shadow
$box-shadow-dark:.3px 1px 10px 0 rgba($dark, .5);
/* font-size */

$default-fonte-size: 1.6rem;
$font-family-primary: Verdana,
Geneva,
Arial,
Helvetica,
sans-serif;
/* grid width */

$grid-width: 90%;
//  $grid-width-full:100%;
$vertical-width: 5rem;
$vertical-width-small: 1.6rem;
$horizontal-width: 6rem;