.btn {
    padding: 10px 20px; // border: 1px solid $primary-color;
    border-radius: 5px;
    background: $primary-color;
    color: $white-color !important;
    font-size: 1.2rem;
    transition: background .3s;
    cursor: pointer;
    &:hover {
        background: rgba($dark, .4);
    }
}

.bg-dark {
    background: $dark !important;
    &:hover {
        background: rgba($dark, .4) !important;
    }
}