// .form-container {
//     height: 70vh;
//     width: 90%;
//     margin: auto;
// }
label {
    font-size: 1.2rem;
}

.input-icon {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    i {
        padding: 10px;
        min-width: 50px;
        text-align: center; // border:1px solid #ccc;
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-right: 0;
        border-bottom: 1px solid #ccc;
        color: $primary-color;
    }
    .input-field {
        width: 100%;
        padding: 5px;
        font-size: 1.2rem;
        outline: none;
    }
}

.declaration-container {
    height: 40vh;
}