.icon-phone:before {
  content: "\e800";
} /* '' */
.icon-mail:before {
  content: "\e801";
} /* '' */
.icon-mobile:before {
  content: "\e802";
} /* '' */
.icon-adult:before {
  content: "\e803";
} /* '' */
.icon-numbers:before {
  content: "\e804";
} /* '' */
.icon-calendar:before {
  content: "\e805";
} /* '' */
.icon-location:before {
  content: "\e806";
} /* '' */
.icon-user-1:before {
  content: "\e808";
} /* '' */
.icon-twitter:before {
  content: "\f099";
} /* '' */
.icon-facebook:before {
  content: "\f09a";
} /* '' */
.icon-building:before {
  content: "\f0f7";
} /* '' */
.icon-sort-name-up:before {
  content: "\f15d";
} /* '' */
.icon-instagram:before {
  content: "\f16d";
} /* '' */
.icon-fax:before {
  content: "\f1ac";
} /* '' */
/* '' */

.icon-cancel:before {
  content: "\e804";
}

/* '' */

.icon-menu:before {
  content: "\f0c9";
}

/* '' */
